<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.shopping.message.dao.ReceiveDao">

    <insert id="addReceive" parameterType="edu.nf.shopping.message.entity.Receive">
        REPLACE into news_receive(ns_id,receive_uid,state)
        values(#{messageId},#{receiveUserId},#{state})
    </insert>

    <update id="updateNewsState" parameterType="string">
        update news ns INNER JOIN news_receive nr on ns.news_id=nr.ns_id
        set nr.state='2'
        where
        nr.receive_uid=#{param3} and
        <choose>
            <when test="param1!=null and param1!='' and param1!='NULL'">
                nr.ns_id=#{param1}
            </when>
            <otherwise>
                ns.order_id=#{param2}
            </otherwise>
        </choose>
    </update>

    <update id="updateNoticeState" parameterType="String">
        update notice ne INNER JOIN news_receive nr on ne.notice_id=nr.ns_id
        set nr.state='2'
        where nr.receive_uid=#{param2} and ne.notice_type=#{param1}
    </update>


</mapper>