<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.shopping.order.dao.OrderDetailsDao">
    <resultMap id="orderDetailsMap" type="edu.nf.shopping.order.entity.OrderDetails">
        <id property="orderId" column="order_id"/>
        <result property="skuId" column="sku_id"/>
        <result property="skuNum" column="sku_num"/>
        <result property="skuPrice" column="sku_price"/>
        <result property="skuAttribute" column="sku_attribute"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsId" column="goods_id"/>
        <result property="goodsFile" column="goods_file"/>
        <result property="cargoId" column="cargo_id"/>
    </resultMap>

    <select id="listOrderDetailsByOrderId" resultMap="orderDetailsMap">
        select order_id, sku_num, sku_price, sku_attribute, goods_name, goods_file,
        cargo_id, sku_id, goods_id from order_details where order_id = #{orderId}
    </select>

    <select id="getOrderDetailsByOrderId" resultMap="orderDetailsMap">
        select order_id, sku_num, sku_price, sku_attribute, goods_name, goods_file,
        cargo_id, sku_id, goods_id from order_details where order_id = #{param1} and sku_id = #{param2}
    </select>

    <insert id="addOrderDetails" parameterType="list">
        insert into order_details(order_id, sku_num, sku_price, sku_attribute, goods_name, goods_file,
        cargo_id, sku_id, goods_id) values
        <foreach collection="orderDetails" item="details" separator=",">
            (#{details.orderId}, #{details.skuNum}, #{details.skuPrice}, #{details.skuAttribute},
            #{details.goodsName}, #{details.goodsFile}, #{details.cargoId},
            #{details.skuId}, #{details.goodsId})
        </foreach>
    </insert>

    <update id="updateOrderDetails" parameterType="list">
        <foreach collection="list" item="orderDetail" separator=";">
            update order_details
            <set>
                sku_num = #{orderDetails.skuNum}, sku_price = #{orderDetails.skuPrice},
                sku_attribute = #{orderDetails.skuAttribute}, goods_name = #{orderDetails.goodsName},
                goods_file = #{orderDetails.goodsFile}, cargo_id = #{orderDetails.cargoId}
            </set>
            <where>
                order_id = #{orderDetails.orderId} and sku_id = #{orderDetails.skuId}
            </where>
        </foreach>
    </update>

    <delete id="deleteOrderDetails" parameterType="collection">
        delete from order_details where order_id in
        <foreach collection="array" item="orderId" open="(" close=")" separator=",">
            #{orderId}
        </foreach>
    </delete>
</mapper>