<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.shopping.order.dao.OrderDao">

    <resultMap id="orderMap" type="edu.nf.shopping.order.entity.OrderInfo">
        <id property="orderId" column="order_id"/>
        <result property="buyPrice" column="buy_price"/>
        <result property="cheapPrice" column="cheap_price"/>
        <result property="transportPrice" column="transport_price"/>
        <result property="createTime" column="create_time"/>
        <result property="payTime" column="pay_time"/>
        <result property="deliverTime" column="deliver_time"/>
        <result property="dealTime" column="deal_time"/>
        <result property="buyRemark" column="buy_remark"/>
        <result property="orderRemark" column="order_remark"/>
        <result property="orderState" column="order_state"/>
        <result property="addressName" column="address_name"/>
        <result property="addressTel" column="address_tel"/>
        <result property="addressUser" column="address_user"/>
        <result property="isDel" column="is_del"/>
        <association property="buyAdmin" resultMap="staffInfoMap"/>
        <association property="buyUser" resultMap="userInfoMap"/>
        <association property="addressRegion" resultMap="cityMap"/>
    </resultMap>

    <resultMap id="staffInfoMap" type="edu.nf.shopping.admin.entity.StaffInfo">
        <id property="staffId" column="s_id"/>
        <result property="staffTel" column="s_tel"/>
        <result property="staffMoney" column="s_money"/>
        <result property="joinTime" column="join_time"/>
        <result property="outTime" column="out_time"/>
        <association property="staffType" resultMap="staffTypeMap"/>
        <association property="departmentInfo" resultMap="departmentInfoMap"/>
        <association property="user" resultMap="userInfoMap"/>
        <association property="staffState" resultMap="staffStateMap"/>
    </resultMap>
    <resultMap id="staffTypeMap" type="edu.nf.shopping.admin.entity.StaffType">
        <id property="stId" column="st_id"/>
        <result property="stName" column="st_name"/>
    </resultMap>
    <resultMap id="departmentInfoMap" type="edu.nf.shopping.admin.entity.DepartmentInfo">
        <id property="dpmentId" column="dpment_id"/>
    </resultMap>
    <resultMap id="staffStateMap" type="edu.nf.shopping.admin.entity.StaffState">
        <id property="stateId" column="ss_id"/>
        <result property="stateName" column="ss_name"/>
    </resultMap>

    <resultMap id="userInfoMap" type="edu.nf.shopping.user.entity.UserInfo">
        <id property="userId" column="u_id"/>
        <result property="userName" column="u_name"/>
        <result property="userEmail" column="u_email"/>
        <result property="tel" column="u_tel"/>
        <result property="password" column="u_password"/>
        <result property="sex" column="u_sex"/>
        <result property="realName" column="real_name"/>
        <result property="carNumber" column="card_num"/>
        <association property="face" resultMap="userFaceMap"/>
    </resultMap>
    <resultMap id="userFaceMap" type="edu.nf.shopping.user.entity.UserFace">
        <id property="faceId" column="face_id"/>
        <result property="faceFile" column="face_file"/>
        <result property="joinDate" column="join_date"/>
    </resultMap>

    <resultMap id="cityMap" type="edu.nf.shopping.warehouse.entity.City">
        <id property="cid" column="c_id"/>
        <result property="cname" column="c_name"/>
        <result property="pid" column="p_id"/>
        <result property="type" column="type"/>
    </resultMap>

    <select id="listOrderInfo" resultMap="orderMap">
        select oi.order_id, oi.buy_price, oi.cheap_price, oi.transport_price, oi.create_time,
        oi.pay_time, oi.deliver_time, oi.deal_time, oi.buy_remark, oi.order_remark, oi.is_del,
        oi.order_state, si.s_id, st.st_id, ss.ss_id, di.dpment_id, ui.u_id, uf.face_id,
        uf.face_file, oi.address_name, oi.address_tel, oi.address_user, c.c_id,
        c.c_name, c.p_id, c.type from order_info oi
        left join staff_info si on si.s_id = oi.buy_admin
        left join user_info ui on ui.u_id = oi.buy_user
        left join staff_type st on st.st_id = si.st_id
        left join department_info di on di.dpment_id = si.dpment_id
        left join staff_state ss on ss.ss_id = si.ss_id
        left join user_face uf on uf.face_id = ui.face_id
        left join city c on c.c_id = oi.address_region
        where ui.u_id = #{userId} and oi.is_del = 0
    </select>
    <select id="listOrderInfoByAdminId" resultMap="orderMap">
        select oi.order_id, oi.buy_price, oi.cheap_price, oi.transport_price, oi.create_time,
        oi.pay_time, oi.deliver_time, oi.deal_time, oi.buy_remark, oi.order_remark, oi.is_del,
        oi.order_state, si.s_id, st.st_id, ss.ss_id, di.dpment_id, ui.u_id, uf.face_id,
        uf.face_file, oi.address_name, oi.address_tel, oi.address_user, c.c_id,
        c.c_name, c.p_id, c.type from order_info oi
        left join staff_info si on si.s_id = oi.buy_admin
        left join user_info ui on ui.u_id = oi.buy_user
        left join staff_type st on st.st_id = si.st_id
        left join department_info di on di.dpment_id = si.dpment_id
        left join staff_state ss on ss.ss_id = si.ss_id
        left join user_face uf on uf.face_id = ui.face_id
        left join city c on c.c_id = oi.address_region
        where si.s_id = #{adminId}
    </select>
    <select id="getOrderInfoByOrderId" resultMap="orderMap">
        select oi.order_id, oi.buy_price, oi.cheap_price, oi.transport_price, oi.create_time,
        oi.pay_time, oi.deliver_time, oi.deal_time, oi.buy_remark, oi.order_remark, oi.is_del,
        oi.order_state, si.s_id, st.st_id, ss.ss_id, di.dpment_id, ui.u_id, uf.face_id,
        uf.face_file, oi.address_name, oi.address_tel, oi.address_user, c.c_id,
        c.c_name, c.p_id, c.type from order_info oi
        left join staff_info si on si.s_id = oi.buy_admin
        left join user_info ui on ui.u_id = oi.buy_user
        left join staff_type st on st.st_id = si.st_id
        left join department_info di on di.dpment_id = si.dpment_id
        left join staff_state ss on ss.ss_id = si.ss_id
        left join user_face uf on uf.face_id = ui.face_id
        left join city c on c.c_id = oi.address_region
        where oi.order_id = #{orderId}
    </select>
    <insert id="addOrderInfo" parameterType="edu.nf.shopping.order.entity.OrderInfo">
        insert order_info(order_id, buy_price, cheap_price, transport_price, create_time,
        pay_time, deliver_time, deal_time, buy_admin, buy_user, address_region,
        address_name, address_tel, address_user, buy_remark, order_remark, order_state, is_del)
        value(#{orderInfo.orderId}, #{orderInfo.buyPrice},
        #{orderInfo.cheapPrice}, #{orderInfo.transportPrice}, #{orderInfo.createTime},
        #{orderInfo.payTime}, #{orderInfo.deliverTime}, #{orderInfo.dealTime},
        #{orderInfo.buyAdmin.staffId}, #{orderInfo.buyUser.userId}, #{orderInfo.addressRegion.cid},
        #{orderInfo.addressName}, #{orderInfo.addressTel}, #{orderInfo.addressUser},
        #{orderInfo.buyRemark}, #{orderInfo.orderRemark}, #{orderInfo.orderState} ,#{orderInfo.isDel})
    </insert>
    <update id="updateOrderInfo" parameterType="edu.nf.shopping.order.entity.OrderInfo">
        update order_info set buy_price = #{orderInfo.buyPrice}, is_del = #{orderInfo.isDel},
        cheap_price = #{orderInfo.cheapPrice}, transport_price = #{orderInfo.transportPrice},
        pay_time = #{orderInfo.payTime}, deliver_time = #{orderInfo.deliverTime},
        deal_time = #{orderInfo.dealTime}, buy_admin = #{orderInfo.buyAdmin.staffId},
        address_region = #{orderInfo.addressRegion.cid}, buy_remark = #{orderInfo.buyRemark},
        order_remark = #{orderInfo.orderRemark}, order_state = #{orderInfo.orderState},
        address_name = #{orderInfo.addressName}, address_tel = #{orderInfo.addressTel},
        address_user = #{orderInfo.addressUser}
    </update>
    <delete id="deleteOrderInfo" parameterType="java.lang.String">
        delete from order_info where order_id = #{orderId}
    </delete>

</mapper>