<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.shopping.comment.dao.CommentDao">
    <resultMap id="commentMap" type="edu.nf.shopping.comment.entity.Comment">
        <id  property="comId" column="com_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="userId" column="u_id"/>
        <result property="parentId" column="parent_cid"/>
        <result property="bycId" column="by_cid"/>
        <result property="content" column="com_content"/>
        <result property="comScore" column="com_score"/>
        <result property="time" column="com_time"/>
        <result property="state" column="com_state"/>
        <result property="grade" column="com_grade"/>
        <result property="byUserName" column="by_uName"/>
        <result property="total" column="total"/>
        <result property="praiseNum" column="praise_num"/>
        <result property="theUser" column="the_user"/>
        <result property="totalScore" column="total_score"/>
    </resultMap>
    <select id="listBuyShow" resultMap="commentMap" parameterType="String">
        select c.com_id,c.goods_id,c.u_id,c.parent_cid,c.by_cid,c.com_content,
        c.com_score,c.com_time,c.com_state,c.com_grade,u.u_name,uf.face_id,
        (SELECT COUNT(1) from praise p where p.com_id=c.com_id) as praise_num,
        (select AVG(com_score) from comments where com_grade="1" ) as total_score
        <if test="param4!=null and param4!=''">
            ,(SELECT 1 from praise p where p.com_id=c.com_id and p.u_id=#{param4}) as the_user
        </if>
        from comments c INNER JOIN user_info u inner JOIN user_face uf
        on c.u_id=u.u_id and u.u_id=uf.u_id where c.goods_id=#{param3}
        and c.com_grade='1' and c.com_state='1'
        <if test="param7==1">
            and (select COUNT(1) from buy_show_imgs where com_id=c.com_id)
        </if>
        <choose>
            <when test="param6!=1">
                ORDER BY
                IF(c.com_time > #{param6}, 0, 1) desc,
                (SELECT COUNT(1) from praise p where p.com_id=c.com_id)  desc,
                c.com_time asc
            </when>
            <otherwise>
                ORDER BY
                IF(c.com_time &lt; #{param6}, 0, 1), c.com_time desc
            </otherwise>
        </choose>

    </select>
    <select id="listByComment" resultMap="commentMap" parameterType="String">
        select c.com_id,c.goods_id,c.u_id,c.parent_cid,c.by_cid,c.com_content,
        c.com_time,c.com_state,c.com_grade,u.u_name,uf.face_id,
        (SELECT COUNT(1) from praise p where p.com_id=c.com_id) as praise_num,
        (select bu.u_name from user_info bu INNER JOIN comments bc on
        bu.u_id=bc.u_id where bc.com_id=c.by_cid) as by_uName,
        (select COUNT(1) from comments where parent_cid =#{param3} and com_state='1') as total
        <if test="param4!=null and param4!=''">
            ,(SELECT 1 from praise p where p.com_id=c.com_id and p.u_id=#{param4}) as the_user
        </if>
        from comments c INNER JOIN user_info u inner JOIN user_face uf on c.u_id=u.u_id
        and u.u_id=uf.u_id
        where c.com_grade!='1' and c.com_state='1'
        <if test="param3!=null and param3!=''">
            and c.parent_cid =#{param3}
        </if>
        <choose>
            <when test="param6!=1">
                ORDER BY
                IF(c.com_time > #{param6}, 0, 1) desc,
                (SELECT COUNT(1) from praise p where p.com_id=c.com_id)  desc,
                c.com_time asc
            </when>
            <otherwise>
                ORDER BY
                IF(c.com_time &lt; #{param6}, 0, 1), c.com_time asc
            </otherwise>
        </choose>
    </select>
    <select id="findComment" parameterType="edu.nf.shopping.comment.entity.Comment" resultMap="commentMap">
        select c.com_id,c.goods_id,c.u_id,c.parent_cid,c.by_cid,c.com_content,
        c.com_score,c.com_time,c.com_state,c.com_grade from comments c
        where 1=1
        <if test="param1!=null and param1!=''">
            and c.com_id=#{param1}
        </if>
        <if test="param2!=null and param2!=''">
            and c.goods_id=#{param2}
        </if>
    </select>
    <insert id="addComment" parameterType="edu.nf.shopping.comment.entity.Comment">
        insert comments(com_id,goods_id,u_id,parent_cid,by_cid,com_content,com_score,
        com_time,com_state,com_grade) value(#{comId},#{goodsId},#{userId},#{parentId},
        #{bycId},#{content},#{comScore},#{time},#{state},#{grade})
    </insert>
    <update id="updateComment" parameterType="edu.nf.shopping.comment.entity.Comment">

    </update>
    <delete id="deleteComment" parameterType="edu.nf.shopping.comment.entity.Comment">

    </delete>
</mapper>