<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.shopping.goods.dao.GoodsDao">
    <resultMap id="goodsMap" type="edu.nf.shopping.goods.entity.GoodsInfo">
        <id property="goodsId" column="goods_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="shelfTime" column="shelf_time"/>
        <result property="isShelf" column="is_shelf"/>
        <association property="spuInfo" resultMap="spuInfoMap"/>
        <association property="goodsType" resultMap="goodsTypeMap"/>
    </resultMap>
    <resultMap id="spuInfoMap" type="edu.nf.shopping.goods.entity.SpuInfo">
        <id property="spuId" column="spu_id"/>
        <result property="spuName" column="spu_name"/>
        <result property="spuNum" column="spu_num"/>
        <result property="listTime" column="list_time"/>
        <result property="spuRemark" column="spu_remark"/>
    </resultMap>
    <resultMap id="goodsTypeMap" type="edu.nf.shopping.goods.entity.GoodsType">
        <id property="gtId" column="gt_id"/>
        <result property="gtName" column="gt_name"/>
        <result property="pId" column="p_id"/>
    </resultMap>

    <select id="listGoods" resultMap="goodsMap">
        select gi.goods_id, gi.goods_name, gi.shelf_time, gi.is_shelf, si.spu_id, si.spu_name,
        si.spu_remark, si.list_time, si.spu_num, gt.gt_id, gt.gt_name, gt.p_id from goods_info gi
        LEFT JOIN spu_info si on gi.spu_id = si.spu_id left join goods_type gt on gi.gt_id = gt.gt_id
    </select>

    <select id="listGoodsByName" resultMap="goodsMap" parameterType="java.lang.String">
        select gi.goods_id, gi.goods_name, gi.shelf_time, gi.is_shelf, si.spu_id, si.spu_name,
        si.spu_remark, si.list_time, si.spu_num, gt.gt_id, gt.gt_name, gt.p_id from goods_info gi
        LEFT JOIN spu_info si on gi.spu_id = si.spu_id left join goods_type gt on gi.gt_id = gt.gt_id
        where gi.goods_name like #{name}"%"
    </select>

    <select id="listGoodsBySpuId" resultMap="goodsMap" parameterType="java.lang.String">
        select gi.goods_id, gi.goods_name, gi.shelf_time, gi.is_shelf, si.spu_id, si.spu_name,
        si.spu_remark, si.list_time, si.spu_num, gt.gt_id, gt.gt_name, gt.p_id from goods_info gi
        LEFT JOIN spu_info si on gi.spu_id = si.spu_id left join goods_type gt on gi.gt_id = gt.gt_id
        where si.spu_id = #{spuId}
    </select>

    <select id="getGoodsById" resultMap="goodsMap" parameterType="java.lang.String">
        select gi.goods_id, gi.goods_name, gi.shelf_time, gi.is_shelf, si.spu_id, si.spu_name,
        si.spu_remark, si.list_time, si.spu_num, gt.gt_id, gt.gt_name, gt.p_id from goods_info gi
        LEFT JOIN spu_info si on gi.spu_id = si.spu_id left join goods_type gt on gi.gt_id = gt.gt_id
        where gi.goods_id = #{id}
    </select>

    <insert id="addGoods" parameterType="edu.nf.shopping.goods.entity.GoodsInfo">
        insert goods_info(goods_id, goods_name, shelf_time, is_shelf, spu_id, gt_id)
        value(#{goodsId}, #{goodsName}, #{shelfTime}, #{isShelf}, #{spuInfo.spuId}, #{goodsType.gtId})
    </insert>
    
    <update id="updateGoods" parameterType="list">
        <foreach collection="list" item="attendance" separator=";">
            update goods_info
            <set>
                attendance_type = #{attendance.attendanceType}
            </set>
            <where>
                attendance_id = #{attendance.attendanceId}
            </where>
        </foreach>
    </update>
    
    <delete id="deleteGoods" parameterType="collection">
        delete from goods_info where goods_id in
        <foreach collection="array" item="goodsId" open="(" close=")" separator=",">
            #{goodsId}
        </foreach>
    </delete>
</mapper>