<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.shopping.goods.dao.ImgsInfoDao">
    <resultMap id="imgsInfoMap" type="edu.nf.shopping.goods.entity.ImgsInfo">
        <id property="imgId" column="img_id"/>
        <result property="imgName" column="img_name"/>
        <result property="imgFile" column="img_file"/>
        <association property="imgType" resultMap="imgTypeMap"/>
    </resultMap>
    <resultMap id="imgTypeMap" type="edu.nf.shopping.goods.entity.ImgsType">
        <id property="itId" column="it_name"/>
        <result property="itName" column="it_name"/>
    </resultMap>

    <select id="listImgsInfo" resultMap="imgsInfoMap">
        select ii.img_id, ii.img_name, ii.img_file, it.it_id, it.it_name from
        imgs_info ii left join imgs_type it on ii.img_type = it.it_id
    </select>
    <select id="getImgsInfoByImgId" resultMap="imgsInfoMap">
        select ii.img_id, ii.img_name, ii.img_file, it.it_id, it.it_name from
        imgs_info ii left join imgs_type it on ii.img_type = it.it_id where ii.img_id = #{imgId}
    </select>
    <insert id="addImgsInfo" parameterType="edu.nf.shopping.goods.entity.ImgsInfo">
        insert imgs_info(img_id, img_name, img_file, img_type)
        value(#{imgsInfo.imgId}, #{imgsInfo.imgName}, #{imgsInfo.imgFile}, #{imgsInfo.imgType.itId});
    </insert>
    <update id="updateImgsInfo" parameterType="edu.nf.shopping.goods.entity.ImgsInfo">
        update imgs_info set img_type = #{imgsInfo.imgType.itId} where img_id = #{imgsInfo.imgId}
    </update>
    <delete id="deleteImgsInfo" parameterType="java.lang.String">
        delete from imgs_info where img_id = #{imgId}
    </delete>
</mapper>