<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.shopping.goods_search.dao.GoodsSearchDao">
    <resultMap id="goodsMap" type="edu.nf.shopping.goods_search.entity.GoodsInfo">
        <id property="goodsId" column="goods_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="shelfTime" column="shelf_time"/>
        <result property="isShelf" column="is_shelf"/>
        <association property="spuId" resultMap="spu_id"/>
        <association property="gtId" resultMap="gt_id"/>
    </resultMap>

    <select id="listGoodsSearchByName" resultMap="goodsMap">
        SELECT * FROM goods_info where goods_name like "%"#{name}"%"
    </select>

</mapper>