<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.shopping.page.dao.RegionContentDao">
    <resultMap id="regionInfoMap" type="edu.nf.shopping.page.entity.RegionContent">
        <result property="infoId" column="ri_id"/>
        <result property="prId" column="pr_id"/>
        <result property="info" column="ri_info"/>
        <result property="index" column="ri_index"/>
        <result property="state" column="state"/>
    </resultMap>
    <select id="listRegionInfo" resultMap="regionInfoMap">
        select pr_id,ri_info,ri_index,state from region_content
        where state in
        <foreach collection="param1" item="state" open="(" close=")" separator=",">
            #{state}
        </foreach>
        and pr_id=#{param2}
        ORDER BY  ri_index
    </select>

    <insert id="addRegionInfo" parameterType="edu.nf.shopping.page.entity.RegionContent">
        insert region_content(pr_id,ri_info,ri_index,state)
        value(#{prId},#{info},#{index},'2'),(#{prId},#{info},#{index},'0')
    </insert>

    <delete id="delRegionContent" parameterType="String">
        delete from region_content where  state in
        <foreach collection="param2" item="state" open="(" close=")" separator=",">
            #{state}
        </foreach>
        <if test="param1!=null and param1!=''">
            and pr_id=#{param1}
        </if>
    </delete>

    <update id="updateRegionContent" parameterType="list">
        <foreach collection="list" item="content" separator=";">
            update region_content
            <set>
                ri_info = #{content.info}
            </set>
            where pr_id = #{content.prId}
                and ri_index=#{content.index}
                and state=#{content.state}
        </foreach>
    </update>

    <update id="updateRegionContentState" parameterType="list">
        update region_content set state = '3'
        where pr_id = #{content.prId} and state='1'
    </update>

    <update id="submitRegionContent" parameterType="list">
        <foreach collection="list" item="content" separator=";">
            update region_content
            <set>
                ri_info = #{content.info},state='1'
            </set>
            where pr_id = #{content.prId}
            and ri_index=#{content.index}
            and state in ('1','2')
        </foreach>
    </update>


</mapper>